[Desktop Entry]
X-AppInstall-Package=3depict
X-AppInstall-Popcon=12
X-AppInstall-Section=main

Version=1.0
Type=Application
Comment=Valued point cloud visualisation and analysis
Exec=3depict %F
Icon=3depict
Name=3depict

X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
