[Desktop Entry]
X-AppInstall-Package=arandr
X-AppInstall-Popcon=244
X-AppInstall-Section=main

Name=ARandR
GenericName=Screen Settings
GenericName[de]=Bildschirmeinstellungen
Icon=display
Exec=arandr
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
