[Desktop Entry]
X-AppInstall-Package=ardentryst
X-AppInstall-Popcon=4
X-AppInstall-Section=main

Name=Ardentryst
Categories=Game;RolePlaying
Comment=Fantasy sidescroller game
Exec=/usr/games/ardentryst
Terminal=false
Icon=_usr_share_pixmaps_ardentryst
Type=Application
