[Desktop Entry]
X-AppInstall-Package=auto-multiple-choice
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Name=Auto Multiple Choice
Name[fr]=QCM automatique
Type=Application
Exec=auto-multiple-choice
Icon=_usr_share_auto-multiple-choice_icons_auto-multiple-choice
Terminal=false
Categories=Education;
GenericName=Auto Multiple Choice
GenericName[fr]=QCM automatique
Comment=Manage multiple choice questionnaires, with automatic marking from papers' scans
Comment[fr]=Conception et correction automatique de QCM en LaTeX

