[Desktop Entry]
X-AppInstall-Package=babiloo
X-AppInstall-Popcon=17
X-AppInstall-Section=main

Version=1.0
Name=Babiloo
Comment=Application to view dictionaries
Comment[en_US]=Application to view dictionaries
Comment[pt_PT]=Aplicação para ver dicionários
Exec=babiloo
Icon=babiloo
Path=/usr/share/babiloo
StartupNotify=false
Terminal=false
X-DCOP-ServiceType=unique
X-KDE-SubstituteUID=false
X-KDE-Username=
Type=Application
Categories=Qt;KDE;Office;
