[Desktop Entry]
X-AppInstall-Package=ballz
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Version=1.0
Name=B.A.L.L.Z.
Comment=Platform game with some puzzle elements
Exec=ballz
Icon=ballz
Terminal=false
Type=Application
Categories=Game;ActionGame;
