[Desktop Entry]
X-AppInstall-Package=bsnes
X-AppInstall-Popcon=18
X-AppInstall-Section=main

Name=bsnes
Comment=SNES emulator
Exec=bsnes
Icon=bsnes
Terminal=false
Type=Application
Categories=Game;Emulator;
