[Desktop Entry]
X-AppInstall-Package=cdcat
X-AppInstall-Popcon=24
X-AppInstall-Section=main

Type=Application
Name=CdCat
Exec=cdcat
Icon=cdcat
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;System;Archiving;
StartupNotify=false
Terminal=false
Comment=Disk and data archive management tool
Comment[de]=Verwaltung für Datendisks und Archive
