[Desktop Entry]
X-AppInstall-Package=iceape-chatzilla
X-AppInstall-Popcon=123
X-AppInstall-Section=main

Name=Chatzilla
GenericName=IRC Chat
Exec=iceape -chat
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient;
Icon=chatzilla
