[Desktop Entry]
X-AppInstall-Package=codfis
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Version=1.0
Name=CodFis
Icon=_usr_share_pixmaps_codfis
Comment=Computes Italian Fiscal codes
Categories=Utility;Office;
Exec=codfis
Terminal=false
Type=Application
