[Desktop Entry]
X-AppInstall-Package=confclerk
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=ConfClerk
GenericName=Offline conference schedule application
Exec=confclerk
Icon=confclerk
Categories=Office;Calendar;
