[Desktop Entry]
X-AppInstall-Package=mricron
X-AppInstall-Popcon=27
X-AppInstall-Section=main

Encoding=UTF-8
GenericName=DICOM to NIfTI Conversion
GenericName[ru]=Конвертор из DICOM в NIfTI
Name=dcm2nii
Exec=dcm2niigui %F
Type=Application
Terminal=false
Categories=Education;Graphics;Science;MedicalSoftware;GTK;
Icon=mricron.xpm
X-AppInstall-Architectures=amd64,armel,armhf,i386,powerpc,sparc
