[Desktop Entry]
X-AppInstall-Package=earcandy
X-AppInstall-Popcon=65
X-AppInstall-Section=main

Name=Earcandy
Comment=Earcandy application
Categories=GNOME;AudioVideo;
Exec=earcandy
Icon=_usr_share_earcandy_media_icon
Terminal=false
Type=Application
