[Desktop Entry]
X-AppInstall-Package=engauge-digitizer
X-AppInstall-Popcon=29
X-AppInstall-Section=main

Name=Engauge-digitizer
Type=Application
Comment=Extract data from graphs
Exec=engauge %F
MimeType=text/plain
Categories=Education;Science;DataVisualization
Icon=_usr_share_pixmaps_engauge-digitizer
