[Desktop Entry]
X-AppInstall-Package=fldiff
X-AppInstall-Popcon=45
X-AppInstall-Section=main

Name=fldiff
Comment=A graphical diff program
Exec=/usr/bin/fldiff
Icon=_usr_share_pixmaps_fldiff
Terminal=false
Type=Application
Categories=Utility;Development
