[Desktop Entry]
X-AppInstall-Package=fluid
X-AppInstall-Popcon=56
X-AppInstall-Section=main

Name=FLUID
Comment=FLTK GUI Designer
Exec=fluid %F
Icon=fluid
Terminal=false
Type=Application
MimeType=application/x-fluid
Categories=Development;GUIDesigner;
