[Desktop Entry]
X-AppInstall-Package=gmidimonitor
X-AppInstall-Popcon=6
X-AppInstall-Section=main

Type=Application
Name=Gmidimonitor (with JACK support)
GenericName=Gmidimonitor
Comment=Analyse MIDI messages through JACK
Icon=gmidimonitor_32x32
Exec=gmidimonitor --jack
Terminal=false
Categories=AudioVideo;Music;
