[Desktop Entry]
X-AppInstall-Package=gnome-font-viewer
X-AppInstall-Popcon=1405
X-AppInstall-Section=main

Name=Font Viewer
Name[ar]=عارض الخطوط
Name[as]=ফন্ট দৰ্শক
Name[ast]=Visor de fontes
Name[be]=Праглядальнік шрыфтоў
Name[bg]=Преглед на шрифт
Name[bn_IN]=ফন্ট প্রদর্শন ব্যবস্থা
Name[ca]=Visualitzador de tipus de lletra
Name[ca@valencia]=Visualitzador de tipus de lletra
Name[cs]=Prohlížeč písem
Name[da]=Skrifttypefremviser
Name[de]=Schriftartenbetrachter
Name[en_GB]=Font Viewer
Name[eo]=Tipar-rigardilo
Name[es]=Visor de tipografías
Name[et]=Kirjatüüpide näitaja
Name[eu]=Letra-tipoen ikustailea
Name[fa]=نمایشگر قلم
Name[fi]=Kirjasinkatselin
Name[fr]=Visionneur de police
Name[gl]=Visor de tipos de letra
Name[he]=מציג הגופנים
Name[hu]=Betűkészlet-megjelenítő
Name[id]=Penampil Fonta
Name[it]=Visualizzatore di caratteri
Name[ja]=フォントビューアー
Name[km]=កម្មវិធី​មើល​ពុម្ពអក្សរ
Name[ko]=글꼴 보기
Name[lt]=Šriftų žiūryklė
Name[lv]=Fontu pārlūks
Name[ml]=അക്ഷരരൂപ നിരീക്ഷകന്‍
Name[nb]=Skriftvisning
Name[nl]=Lettertype-voorbeeld
Name[pa]=ਫੋਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka czcionek
Name[pt]=Visualizador de Fontes
Name[pt_BR]=Visualizador de fontes
Name[ro]=Vizualizator de fonturi
Name[ru]=Программа просмотра шрифтов
Name[sk]=Prehliadač písiem
Name[sl]=Pregledovalnik pisav
Name[sr]=Приказ фонта
Name[sr@latin]=Prikaz fonta
Name[sv]=Typsnittsvisare
Name[ta]=எழுத்துரு காட்டி
Name[te]=ఫాంటు వీక్షకం
Name[th]=โปรแกรมดูแบบอักษร
Name[tr]=Yazıtipi Görüntüleyici
Name[ug]=خەت نۇسخا كۆرگۈچ
Name[uk]=Перегляд шрифтів
Name[vi]=Trình xem phông
Name[xh]=Imboniselo yohlobo lwegama
Name[zh_CN]=字体查看器
Name[zh_HK]=字型檢視程式
Name[zh_TW]=字型檢視程式
Comment=Preview fonts
Comment[ar]=عاين الخطوط
Comment[as]=ফন্টসমূহ পূৰ্বদৰ্শন
Comment[ast]=Vista previa de les fontes
Comment[be]=Папярэдні агляд шрыфтоў
Comment[bg]=Преглед на шрифтовете
Comment[bn_IN]=ফন্টের পূর্বদৃশ্য
Comment[ca]=Previsualitza els tipus de lletra
Comment[ca@valencia]=Previsualitza els tipus de lletra
Comment[cs]=Náhled písem
Comment[da]=Forhåndsvis skrifttyper
Comment[de]=Vorschau von Schriften anzeigen
Comment[en_GB]=Preview fonts
Comment[es]=Vista previa de las tipografías
Comment[et]=Kirjatüüpide vaatlemine
Comment[eu]=Aurreikusi letra-tipoak
Comment[fa]=پیش‌نمایش قلم‌ها
Comment[fi]=Esikatsele kirjasimia
Comment[fr]=Aperçu de polices
Comment[gl]=Vista previa de tipos de letra
Comment[he]=תצוגה מקדימה של הגופנים
Comment[hu]=Betűkészletek előnézete
Comment[id]=Pratilik fonta
Comment[it]=Anteprima caratteri
Comment[ja]=フォントのプレビュー
Comment[km]=មើល​ពុម្ពអក្សរ​ជា​មុន
Comment[ko]=글꼴을 미리 봅니다
Comment[lt]=Peržiūrėti šriftus
Comment[lv]=Priekšskatīt fontus
Comment[ml]=അക്ഷരരൂപം കണ്ടുനോക്കുക
Comment[nb]=Forhåndsvis skrifter
Comment[nl]=Voorbeelden van lettertypen tonen
Comment[pa]=ਫੋਂਟ ਝਲਕ
Comment[pl]=Podgląd czcionek
Comment[pt]=Antever fontes
Comment[pt_BR]=Previsualizar fontes
Comment[ro]=Previzualizați fonturi
Comment[ru]=Предварительный просмотр шрифтов
Comment[sk]=Náhľady písiem
Comment[sl]=Predogled pisav
Comment[sr]=Преглед фонтова
Comment[sr@latin]=Pregled fontova
Comment[sv]=Förhandsvisa typsnitt
Comment[ta]=எழுத்துருக்கள் முன்பார்வையிடு
Comment[te]=మునుజూపు ఫాంట్లు
Comment[th]=ดูตัวอย่างของแบบอักษร
Comment[tr]=Yazıtipleri önizlemesi
Comment[ug]=خەت نۇسخىنى ئالدىن كۆزەت
Comment[uk]=Попередній перегляд шрифтів
Comment[vi]=Xem thử phông chữ
Comment[xh]=Fumana egqithileyo
Comment[zh_CN]=预览字体
Comment[zh_HK]=預覽字型
Comment[zh_TW]=預覽字型
Icon=preferences-desktop-font
Exec=gnome-font-viewer %u
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=font-viewer
X-GNOME-Bugzilla-OtherBinaries=gnome-thumbnail-font
X-GNOME-Bugzilla-Version=3.4.0
