[Desktop Entry]
X-AppInstall-Package=gnunet-gtk
X-AppInstall-Popcon=16
X-AppInstall-Section=main

Version=1.0
Name=GNUnet Setup
GenericName=GNUnet Setup
Comment=Configure GNUnet

Type=Application
Exec=gnunet-setup
Icon=gnunet-setup
Terminal=false
Categories=GTK;Network;P2P;FileTransfer;
StartupNotify=true
StartupWMClass=gnunet-setup
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
