[Desktop Entry]
X-AppInstall-Package=gravitywars
X-AppInstall-Popcon=21
X-AppInstall-Section=main

Name=Gravity Wars
GenericName=gravitywars
Comment=Test your skills against gravity
Type=Application
Exec=gravitywars
Icon=gravitywars
Terminal=false
Categories=Game;ArcadeGame;

