[Desktop Entry]
X-AppInstall-Package=gtimer
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=GTimer
Comment=GTK-based X11 task timer
Exec=gtimer
Icon=gtimer
Categories=Utility;Clock;GTK;
