[Desktop Entry]
X-AppInstall-Package=alsa-tools-gui
X-AppInstall-Popcon=264
X-AppInstall-Section=main

Type=Application
Name=HDSPConf
GenericName=
Comment=Control the Hammerfall HDSP ALSA settings
Icon=alsa-tools
Exec=hdspconf
Terminal=false
Categories=AudioVideo;Audio;
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
