[Desktop Entry]
X-AppInstall-Package=icedtea-netx
X-AppInstall-Popcon=1074
X-AppInstall-Section=main

Name=IcedTea Java Web Start
Name[fi]=IcedTea Java - Web Start
Comment=IcedTea Java Web Start
Comment[fi]=IcedTea Java - Web Start
Exec=/usr/bin/javaws %u
Terminal=false
Type=Application
Icon=javaws
Categories=Application;Network;
MimeType=application/x-java-jnlp-file;
