[Desktop Entry]
X-AppInstall-Package=icedtea-netx
X-AppInstall-Popcon=1074
X-AppInstall-Section=main

Name=IcedTea Web Control Panel
Comment=Configure IcedTea Web (javaws and plugin)
Exec=/usr/bin/itweb-settings
Icon=javaws
Terminal=false
Type=Application
Categories=Settings;
