[Desktop Entry]
X-AppInstall-Package=jaaa
X-AppInstall-Popcon=53
X-AppInstall-Section=main

Version=1.0
Name=Jaaa (with ALSA support)
Comment=Analyse or generate an Audio signal through ALSA
Exec=jaaa -A -d hw:0
Icon=jaaa
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
