[Desktop Entry]
X-AppInstall-Package=jfractionlab
X-AppInstall-Popcon=5
X-AppInstall-Section=main

Name=JFractionLab
Comment=Calculate Fractions is fun!
Comment[es]=¡Calcular con fracciones es divertido!
Encoding=UTF-8
Exec=JFractionLab
GenericName=Fractions exercices
GenericName[de]=Übungen zur Bruchrechnung
GenericName[es]=Ejercicios de Fracciones
Icon=_usr_share_jfractionlab_images_jfractionlab_icon
Type=Application
X-KDE-SubstituteUID=false
Categories=Application;Education;Math;
