[Desktop Entry]
X-AppInstall-Package=kball
X-AppInstall-Popcon=17
X-AppInstall-Section=main

Name=KBall
GenericName=kball
Comment=Find the exit
Type=Application
Exec=kball
Icon=kball
Terminal=false
Categories=Game;ActionGame;

