[Desktop Entry]
X-AppInstall-Package=lmemory
X-AppInstall-Popcon=38
X-AppInstall-Section=main

Type=Application
Name=LMemory
GenericName=Memory Game
Icon=lmemory
Exec=lmemory
Terminal=false
Categories=Game;KidsGame;
