[Desktop Entry]
X-AppInstall-Package=python-lunch
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Exec=lunch -g -q
Type=Application
Terminal=false
Categories=System;RemoteAccess;Network;
Name=Lunch
Comment=Distributed Process Launcher
Comment[fr]=Launceur de processus distribué
Icon=lunch.png
