[Desktop Entry]
X-AppInstall-Package=matita
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Name=Matita
Comment=Interactive theorem prover
Exec=matita
Icon=_usr_share_matita_icons_matita
Terminal=false
Type=Application
Categories=Education;Science;Math
