[Desktop Entry]
X-AppInstall-Package=netbeans
X-AppInstall-Popcon=124
X-AppInstall-Section=main

Name=NetBeans IDE 7.0.1
Comment=Integrated Development Environment
Exec=/usr/bin/netbeans
Icon=_usr_share_netbeans_7.0.1_nb_netbeans
Categories=Development;IDE;Java;
Terminal=false
Type=Application
StartupNotify=true
