[Desktop Entry]
X-AppInstall-Package=nzb
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Name=Nzb
Comment=Grab nzb files
Type=Application
Icon=nzb
Exec=nzb
Terminal=false
Categories=Network;

