[Desktop Entry]
X-AppInstall-Package=openstereogram
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Version=0.1
Type=Application
Name=OpenSterogram
Comment=Create 3D autostereograms
Exec=OpenStereogram
Icon=openstereogram
Categories=Education;Art;Science;
