[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=123
X-AppInstall-Section=main

Type=Application
Name=Penguin Taipei
GenericName=
Comment=
Icon=penguin-pegged
Exec=/usr/games/ace-taipei
Terminal=false
Categories=Game;BoardGame;
