[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=123
X-AppInstall-Section=main

Type=Application
Name=Penguin Thornq
GenericName=
Comment=
Icon=penguin-pegged
Exec=/usr/games/ace-thornq
Terminal=false
Categories=Game;CardGame;
