[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=123
X-AppInstall-Section=main

Type=Application
Name=Penguin Minesweeper
GenericName=
Comment=
Icon=penguin-pegged
Exec=/usr/games/ace-minesweeper
Terminal=false
Categories=Game;LogicGame;
