[Desktop Entry]
X-AppInstall-Package=pymca
X-AppInstall-Popcon=8
X-AppInstall-Section=main

Version=1.0
Name=PyMCA ROI tool
Name[en_GB]=PyMCA ROI tool
GenericName=Region of Interest imaging tool for XRF analysis
GenericName[en_GB]=Region Of Interest imaging tool for XRF analysis
Type=Application
Exec=pymcaroitool
Icon=_usr_share_pixmaps_pymca
Terminal=false
Categories=Science;Education;Physics;

