[Desktop Entry]
X-AppInstall-Package=qashctl
X-AppInstall-Popcon=19
X-AppInstall-Section=main

Type=Application
Name=QasHctl
GenericName=ALSA HCTL mixer
GenericName[de]=ALSA HCTL mixer
Exec=qashctl
Icon=qashctl
StartupNotify=false
Terminal=false
Categories=AudioVideo;Audio;Mixer
Comment=ALSA HCTL mixer
Comment[de]=ALSA HCTL mixer
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
