[Desktop Entry]
X-AppInstall-Package=rygel
X-AppInstall-Popcon=143
X-AppInstall-Section=main

Name=Rygel
Name[af]=Rygel
Name[bg]=Rygel
Name[bn_IN]=Rygel
Name[ca]=Rygel
Name[ca@valencia]=Rygel
Name[cs]=Rygel
Name[da]=Rygel
Name[de]=Rygel
Name[el]=Rygel
Name[en_GB]=Rygel
Name[eo]=Rygel
Name[es]=Rygel
Name[et]=Rygel
Name[fr]=Rygel
Name[gl]=Rygel
Name[gu]=Rygel
Name[he]=Rygel
Name[hu]=Rygel
Name[id]=Rygel
Name[it]=Rygel
Name[ja]=Rygel
Name[kn]=Rygel
Name[ko]=라이겔
Name[lt]=Rygel
Name[lv]=Rygel
Name[nb]=Rygel
Name[nl]=Rygel
Name[pa]=ਰੇਗਲ
Name[pl]=Rygel
Name[pt]=Rygel
Name[pt_BR]=Rygel
Name[ro]=Rygel
Name[ru]=Rygel
Name[sl]=Rygel
Name[sr]=Ригел
Name[sr@latin]=Rigel
Name[sv]=Rygel
Name[th]=Rygel
Name[tr]=Rygel
Name[ug]=Rygel
Name[uk]=Rygel
Name[vi]=Rygel
Name[zh_CN]=Rygel
Name[zh_HK]=Rygel
Name[zh_TW]=Rygel
GenericName=UPnP/DLNA Services
GenericName[af]=UPnP/DLNA-dienste
GenericName[bg]=Услуги по UPnP/DLNA
GenericName[bn_IN]=UPnP/DLNA-র পরিসেবা
GenericName[ca]=Serveis UPnP/DLNA
GenericName[ca@valencia]=Serveis UPnP/DLNA
GenericName[cs]=Služby UPnP/DLNA
GenericName[da]=UPnP/DLNA-tjenester
GenericName[de]=UPnP/DLNA-Dienste
GenericName[el]=Υπηρεσίες UPnP/DLNA
GenericName[en_GB]=UPnP/DLNA Services
GenericName[es]=Servicios UPnP/DLNA
GenericName[et]=UPnP/DLNA teenused
GenericName[fr]=Services UPnP/DLNA
GenericName[gl]=Servizos de UPnP/DLNA
GenericName[gu]=UPnP/DLNA સેવાઓ
GenericName[he]=העדפות UPnP/DLNA
GenericName[hu]=UPnP/DLNA szolgáltatások
GenericName[id]=Layanan UPnP/DLNA
GenericName[it]=Servizi UPnP/DLNA
GenericName[ja]=UPnP/DLNAサービス
GenericName[kn]=UPnP/DLNA ಸೇವೆಗಳು
GenericName[ko]=UPnP/DLNA 서비스
GenericName[lt]=UPnP/DLNA paslaugos
GenericName[lv]=UPnP/DLNA servisi
GenericName[nb]=UpnP/DLNA-tjenester
GenericName[nl]=UPnP/DLNA-diensten
GenericName[pa]=UPnP/DLNA ਸਰਵਿਸ
GenericName[pl]=Usługi UPnP/DLNA
GenericName[pt]=Serviços UPnP/DLNA
GenericName[pt_BR]=Serviços UPnP/DLNA
GenericName[ro]=Serviciile UPnP/DLNA
GenericName[ru]=Службы UPnP/DLNA
GenericName[sl]=Storitve UPnP/DLNA
GenericName[sr]=УПнП ДЛНА услуге
GenericName[sr@latin]=UPnP DLNA usluge
GenericName[sv]=UPnP/DLNA-tjänster
GenericName[th]=บริการ UPnP/DLNA
GenericName[tr]=UPnP/DLNA Hizmetleri
GenericName[ug]=UPnP/DLNA مۇلازىمەتلىرى
GenericName[uk]=Служби UPnP/DLNA
GenericName[vi]=Dịch vụ UPnP/DLNA
GenericName[zh_CN]=UPnP/DLNA 服务
GenericName[zh_HK]=UPnP/DLNA 服務
GenericName[zh_TW]=UPnP/DLNA 服務
Comment=UPnP/DLNA Services
Comment[af]=UPnP/DLNA-dienste
Comment[bg]=Услуги по UPnP/DLNA
Comment[bn_IN]=UPnP/DLNA-র পরিসেবা
Comment[ca]=Serveis UPnP/DLNA
Comment[ca@valencia]=Serveis UPnP/DLNA
Comment[cs]=Služby UPnP/DLNA
Comment[da]=UPnP/DLNA-tjenester
Comment[de]=UPnP/DLNA-Dienste
Comment[el]=Υπηρεσίες UPnP/DLNA
Comment[en_GB]=UPnP/DLNA Services
Comment[es]=Servicios UPnP/DLNA
Comment[et]=UPnP/DLNA teenused
Comment[fr]=Services UPnP/DLNA
Comment[gl]=Servizos de UPnP/DLNA
Comment[gu]=UPnP/DLNA સેવાઓ
Comment[he]=העדפות UPnP/DLNA
Comment[hu]=UPnP/DLNA szolgáltatások
Comment[id]=Layanan UPnP/DLNA
Comment[it]=Servizi UPnP/DLNA
Comment[ja]=UPnP/DLNAサービス
Comment[kn]=UPnP/DLNA ಸೇವೆಗಳು
Comment[ko]=UPnP/DLNA 서비스
Comment[lt]=UPnP/DLNA paslaugos
Comment[lv]=UPnP/DLNA servisi
Comment[nb]=UpnP/DLNA-tjenester
Comment[nl]=UPnP/DLNA-diensten
Comment[pa]=UPnP/DLNA ਸਰਵਿਸ
Comment[pl]=Usługi UPnP/DLNA
Comment[pt]=Serviços UPnP/DLNA
Comment[pt_BR]=Serviços UPnP/DLNA
Comment[ro]=Serviciile UPnP/DLNA
Comment[ru]=Службы UPnP/DLNA
Comment[sl]=Storitve UPnP/DLNA
Comment[sr]=УПнП ДЛНА услуге
Comment[sr@latin]=UPnP DLNA usluge
Comment[sv]=UPnP/DLNA-tjänster
Comment[th]=บริการ UPnP/DLNA
Comment[tr]=UPnP/DLNA Hizmetleri
Comment[ug]=UPnP/DLNA مۇلازىمەتلىرى
Comment[uk]=Служби UPnP/DLNA
Comment[vi]=Dịch vụ UPnP/DLNA
Comment[zh_CN]=UPnP/DLNA 服务
Comment[zh_HK]=UPnP/DLNA 服務
Comment[zh_TW]=UPnP/DLNA 服務
Categories=
Exec=dbus-send --type=method_call --dest=org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus.StartServiceByName string:org.gnome.Rygel1 uint32:0
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Rygel
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.14.1
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,kfreebsd-amd64,kfreebsd-i386,mips,mipsel,powerpc,s390,sparc
