[Desktop Entry]
X-AppInstall-Package=shelxle
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Name=ShelXle
Comment=A Qt GUI for SHELX
GenericName=ShelXle
Exec=shelxle
Icon=shelxle
Terminal=false
Categories=Qt;Science;Chemistry;Physics;Education
Type=Application
