[Desktop Entry]
X-AppInstall-Package=tcos-standalone
X-AppInstall-Popcon=3
X-AppInstall-Section=main

Version=1.0
Name=TCOS Standalone
Name[en_GB]=TCOS Standalone
Name[es]=TCOS Autónomo
GenericName[es_ES]=TCOS Autónomo
Comment=Configure standalone mode of TCOS
Comment[en_GB]=Configure standalone mode of TCOS
Comment[es]=Configurar modo autónomo de TCOS
Exec=su-to-root -X -c /usr/sbin/tcos-standalone
Terminal=false
Type=Application
Icon=_usr_share_tcos-standalone_images_tcos-icon-32x32
Categories=GNOME;Settings;System;DesktopSettings;Monitor
