[Desktop Entry]
X-AppInstall-Package=tcosmonitor
X-AppInstall-Popcon=7
X-AppInstall-Section=main

Version=1.0
Name=TcosPersonalize
Name[en_GB]=TcosPersonalize
Name[es]=TcosPersonalize
Comment=Configure a simple TCOS thin client
Comment[en_GB]=Configure a simple TCOS thin client
Comment[es]=Configurar un terminal TCOS
Exec=/usr/bin/tcospersonalize $@
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_tcos-icon-32x32
GenericName[es_ES]=TcosPersonalize
NotShowIn=GNOME,KDE,XFCE;
