[Desktop Entry]
X-AppInstall-Package=toonloop
X-AppInstall-Popcon=9
X-AppInstall-Section=main

Exec=toonloop 
Type=Application
Terminal=false
Name=Toonloop
Name[fr]=Toonloop
Comment=Toonloop Live Animation Editor
Comment[fr]=Editeur d'animation en direct Toonloop
Categories=AudioVideo;Video;AudioVideoEditing;
Icon=toonloop
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
