[Desktop Entry]
X-AppInstall-Package=trovacap
X-AppInstall-Popcon=1
X-AppInstall-Section=main

Version=1.0
Name=TrovaCAP
Icon=_usr_share_pixmaps_trovacap
Comment=Computes Italian ZIP codes
Categories=Utility;Office;
Exec=trovacap
Terminal=false
Type=Application
