[Desktop Entry]
X-AppInstall-Package=vodovod
X-AppInstall-Popcon=36
X-AppInstall-Section=main

Type=Application
Name=vodovod
GenericName=
Comment=
Icon=vodovod.xpm
Exec=vodovod
Terminal=false
Categories=Game;ArcadeGame;
