[Desktop Entry]
X-AppInstall-Package=volti
X-AppInstall-Popcon=26
X-AppInstall-Section=main

Name=Volti
Exec=volti
Terminal=false
Type=Application
Icon=multimedia-volume-control
Comment=Tray Audio Volume Control
Categories=Audio;AudioVideo;
