[Desktop Entry]
X-AppInstall-Package=worker
X-AppInstall-Popcon=56
X-AppInstall-Section=main

Version=1.0
Type=Application
Name=Worker
GenericName=File Manager
GenericName[de]=Dateimanager
GenericName[lv]=Failu pārvaldnieks
Comment=File manager for X.
Comment[de]=Dateimanager für X.
Comment[lv]=Failu pārvaldnieks X serverim.
Exec=worker
Icon=WorkerIcon48
Categories=Utility;FileTools;FileManager;
