[Desktop Entry]
X-AppInstall-Package=xchat-gnome
X-AppInstall-Popcon=178
X-AppInstall-Section=main

Name=XChat-GNOME
Name[bn_IN]=XChat-GNOME
Name[ca]=Xchat-GNOME
Name[ca@valencia]=XChat-GNOME
Name[cs]=XChat-GNOME
Name[da]=XChat-GNOME
Name[de]=XChat-GNOME
Name[en_GB]=XChat-GNOME
Name[es]=Configuración de XChat-GNOME
Name[eu]=XChat-GNOME
Name[fi]=XChat-Gnome
Name[fr]=XChat-GNOME
Name[gl]=XChat-GNOME
Name[gu]=XChat-GNOME
Name[hi]=XChat-GNOME
Name[hu]=XChat-GNOME
Name[it]=XChat-GNOME
Name[ja]=XChat-GNOME
Name[kn]=XChat-GNOME
Name[ko]=XChat-그놈
Name[lt]=XChat-GNOME
Name[mr]=XChat-GNOME
Name[nb]=XChat-GNOME
Name[or]=XChat-GNOME
Name[pt]=XChat-GNOME
Name[pt_BR]=XChat-GNOME
Name[ro]=XChat-GNOME
Name[ru]=XChat-GNOME
Name[sl]=XChat-GNOME
Name[sq]=XChat-GNOME
Name[sv]=XChat-GNOME
Name[ta]=எக்ஸ்சாட் க்னோம்
Name[te]=XChat-GNOME
Name[th]=XChat-GNOME
Name[zh_CN]=XChat-GNOME
GenericName=IRC Chat
GenericName[am]=ቻድ
GenericName[az]=Söhbət
GenericName[bg]=Разговор
GenericName[bn]=আই-আর-সি চ্যাট করো
GenericName[bn_IN]=IRC আলাপনব্যবস্থা
GenericName[ca]=Xat IRC
GenericName[ca@valencia]=Xat IRC
GenericName[cs]=Chat
GenericName[da]=IRC-samtale
GenericName[de]=IRC Chat
GenericName[dz]=ཨའི་ཨར་སི་ཁ་སླབ་
GenericName[el]=Συνομιλία IRC
GenericName[en_AU]=IRC Chat
GenericName[en_GB]=IRC Chat
GenericName[es]=Charla IRC
GenericName[et]=Vestlus
GenericName[eu]=Berriketa
GenericName[fi]=IRC-keskustelu
GenericName[fr]=Discussion par IRC
GenericName[gl]=Chat IRC
GenericName[gu]=IRC સંવાદ
GenericName[he]=שיחת IRC
GenericName[hi]=आईआरसी गपशप
GenericName[hu]=Csevegés
GenericName[is]=IRC spjall
GenericName[it]=Chat IRC
GenericName[ja]=IRCチャット
GenericName[ka]=ჩატი
GenericName[kn]=IRC ಹರಟೆ
GenericName[ko]=대화
GenericName[lt]=IRC pokalbiai
GenericName[mk]=Разговор
GenericName[mr]=IRC Chat
GenericName[ms]=Chad
GenericName[nb]=IRC-Prat
GenericName[or]=IRC ଆଳାପ
GenericName[pa]=ਗੱਲਬਾਤ
GenericName[pl]=Pogawędki IRC
GenericName[pt]=Conversa IRC
GenericName[pt_BR]=Chat IRC
GenericName[ro]=Discuție IRC
GenericName[ru]=IRC разговор
GenericName[sk]=Chat
GenericName[sl]=IRC klepet
GenericName[sq]=Fjalosje IRC
GenericName[sr]=Прича
GenericName[sv]=IRC-chatt
GenericName[ta]=ஐஆர்சி அரட்டை
GenericName[te]=IRC చాట్
GenericName[th]=การสนทนา IRC
GenericName[tr]=IRC Sohbet
GenericName[uk]=Розмова
GenericName[vi]=Trò chuyện
GenericName[wa]=Tchater
GenericName[zh_CN]=聊天
GenericName[zh_HK]=IRC
GenericName[zh_TW]=IRC 聊天
X-GNOME-FullName=XChat-GNOME IRC Chat
X-GNOME-FullName[bg]=XChat-GNOME: разговори в IRC
X-GNOME-FullName[bn]=এক্সচ্যাট-গনোম আই-আর-সি চ্যাট
X-GNOME-FullName[bn_IN]=XChat-GNOME IRC আলাপন
X-GNOME-FullName[ca]=Xat IRC de l'Xchat-GNOME
X-GNOME-FullName[ca@valencia]=Xat IRC de l'XChat-GNOME
X-GNOME-FullName[cs]=XChat-GNOME IRC Chat
X-GNOME-FullName[da]=XChat-GNOME IRC-samtale
X-GNOME-FullName[de]=XChat-GNOME IRC Chat
X-GNOME-FullName[dz]=XChat-GNOME ཨའི་ཨར་སི་ཁ་སླབ་
X-GNOME-FullName[el]=XChat-Συνομιλία IRC για το GNOME
X-GNOME-FullName[en_AU]=XChat-GNOME IRC Chat
X-GNOME-FullName[en_GB]=XChat-GNOME IRC Chat
X-GNOME-FullName[es]=Chat IRC XChat-GNOME
X-GNOME-FullName[eu]=XChat-GNOME IRC berriketa
X-GNOME-FullName[fi]=XChat-Gnome - IRC-keskustelu
X-GNOME-FullName[fr]=Discussion par IRC XChat-GNOME
X-GNOME-FullName[gl]=Chat de IRC de XChat-GNOME
X-GNOME-FullName[gu]=XChat-GNOME IRC સંવાદ
X-GNOME-FullName[he]=שיחת XChat-GNOME IRC
X-GNOME-FullName[hi]=एक्स चैट गनोम आईआरसी गपशप
X-GNOME-FullName[hu]=XChat-GNOME csevegés
X-GNOME-FullName[is]=Xchat-GNOME IRC spjall
X-GNOME-FullName[it]=Messaggistica IRC XChat-GNOME
X-GNOME-FullName[ja]=XChat-GNOME IRC チャット
X-GNOME-FullName[kn]=XChat-GNOME IRC ಹರಟೆ
X-GNOME-FullName[ko]=XChat-그놈 IRC 채팅
X-GNOME-FullName[lt]=Xchat-GNOME IRC pokalbiai
X-GNOME-FullName[mr]=XChat-GNOME IRC Chat
X-GNOME-FullName[nb]=XChat-GNOME IRC-Prat
X-GNOME-FullName[or]=XChat-GNOME IRC ଆଳାପ
X-GNOME-FullName[pa]=XChat: DCC ਗੱਲਬਾਤ ਸੂਚੀ
X-GNOME-FullName[pl]=Pogawędki IRC XChat-GNOME
X-GNOME-FullName[pt]=Conversar no IRC com XChat-GNOME
X-GNOME-FullName[pt_BR]=XChat-GNOME IRC Chat
X-GNOME-FullName[ro]=XChat-GNOME - Discuții IRC
X-GNOME-FullName[ru]=XChat-GNOME IRC чат
X-GNOME-FullName[sk]=XChat-GNOME Konverzácia cez IRC
X-GNOME-FullName[sl]=XChat-GNOME IRC klepet
X-GNOME-FullName[sq]=Fjalosje IRC XChat-GNOME
X-GNOME-FullName[sv]=IRC-chattklienten XChat-GNOME
X-GNOME-FullName[ta]=எக்ஸ்சாட் க்னோம் ஐஆர்சி அரட்டை
X-GNOME-FullName[te]=XChat-GNOME IRC చాట్
X-GNOME-FullName[th]=การสนทนา IRC XChat-GNOME
X-GNOME-FullName[tr]=XChat-GNOME IRC Sohbet
X-GNOME-FullName[zh_CN]=XChat-GNOME IRC 聊天工具
X-GNOME-FullName[zh_HK]=XChat-GNOME IRC 交談軟件
X-GNOME-FullName[zh_TW]=XChat-GNOME IRC 聊天
Comment=Chat with people using IRC
Comment[bn]=আই-আর-সি ব্যবহার করে জনগণের সঙ্গে চ্যাট করো
Comment[bn_IN]=IRC সহযোগে অন্যান্য ব্যক্তিদের সাথে আলাপ করুন
Comment[ca]=Converseu amb altres persones a través de l'IRC
Comment[ca@valencia]=Converseu amb altres persones a través de l'IRC
Comment[cs]=Chatovat s lidmi přes IRC
Comment[da]=Snak med folk gennem IRC
Comment[de]=Per IRC mit Leuten reden
Comment[dz]=ཨའི་ཨར་སི་ལག་ལེན་འཐབ་སྟེ་ མི་དང་ཅིག་ཁར་ཁ་སླབ་
Comment[el]=Συνομιλήστε με άτομα που χρησιμοποιούν το IRC
Comment[en_AU]=Chat with people using IRC
Comment[en_GB]=Chat with people using IRC
Comment[es]=Chatee con gente usando IRC
Comment[eu]=Hitzegin jendearekin IRCa erabiliz
Comment[fi]=Keskustele ihmisten kanssa IRC:n välityksellä
Comment[fr]=Discuter avec des personnes utilisant IRC
Comment[gl]=Chatee con xente usando IRC
Comment[gu]=IRC ની મદદથી લોકો સાથે સંવાદ કરો
Comment[he]=שוחח עם אנשים באמצעות IRC
Comment[hi]=आईआरसी के प्रयोग से लोगों से चैट करें
Comment[hu]=Csevegés az IRC használatával
Comment[is]=Spjalla við fólk með IRC
Comment[it]=Chiacchiera con le persone usando IRC
Comment[ja]=IRC を使用している人々とチャット
Comment[kn]=IRC ಯನ್ನು ಬಳಸಿಕೊಂಡು ಜನರೊಂದಿಗೆ ಹರಟೆ ಹೊಡೆಯಿರಿ
Comment[ko]=IRC를 사용해서 사람들과 채팅
Comment[lt]=Plepėti su žmonėmis naudojant IRC
Comment[mr]=IRC वरील वापरकर्त्यांशी संभाषण करा
Comment[nb]=Prat med folk via IRC
Comment[or]=IRC ବ୍ୟବହାର କରୁଥିବା ବ୍ୟକ୍ତିଙ୍କ ସହିତ ଆଳାପ କରନ୍ତୁ
Comment[pl]=Rozmawiaj przy użyciu IRC
Comment[pt]=Converse com pessoas utilizando o IRC
Comment[pt_BR]=Converse com pessoas usando IRC
Comment[ro]=Discutați cu persoane folosind IRC
Comment[ru]=Общаться с людьми через IRC
Comment[sk]=Chatovať s ľudmi cez IRC
Comment[sl]=Klepet z ljudmi, ki uporabljajo IRC
Comment[sq]=Fjalosuni me njerëzit përmes IRC-së
Comment[sv]=Chatta med folk som använder IRC
Comment[ta]=மக்களுடன் ஐஆர்சி ஐ பயன்படுத்தி அரட்டை அடி
Comment[te]=IRC వుపయోగించి ప్రజలతో చాట్‌చేయుము
Comment[th]=คุยกับผู้คนผ่าน IRC
Comment[tr]=İnsanlarla IRC kullanarak sohbet edin
Comment[zh_CN]=使用IRC聊天
Comment[zh_HK]=使用 IRC 和人交談
Comment[zh_TW]=使用 IRC 與人聊天
Exec=xchat-gnome
Icon=xchat-gnome
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Network;IRCClient;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=xchat-gnome
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.3.0
