[Desktop Entry]
X-AppInstall-Package=xflr5
X-AppInstall-Popcon=6
X-AppInstall-Section=main

Type=Application
Version=1.0
Name=XFLR5
Comment=analysis tool for airfoils
Icon=_usr_share_pixmaps_xflr5
Exec=/usr/bin/xflr5
Terminal=false
Categories=Qt;Education;Science;Physics;Engineering;

