[Desktop Entry]
X-AppInstall-Package=xhtml2ps
X-AppInstall-Popcon=36
X-AppInstall-Section=main

Type=Application
Name=xhtml2ps
Exec=xhtml2ps
Categories=Utility;TextTools;
